.box-of-top{
    display: flex;
    justify-content: center;
    height: 185px;
}
.cus-data-area{
    /* background-color: aqua; */
    min-height: 120px;
    min-width: 400px;
    max-width: 500px;
}
.cus-data-line{
    margin: 15px;

}
.cus-data-text{
    margin-left: 10px;
}
.cus-data-box{
    margin-left: 5px;
    border-color: transparent;
    border-bottom: 1px solid grey;
    background-color: #f2f2f2;
}
.cus-data-box-line2{
    margin-left: 79px;
    margin-top: 10px;
    border-color: transparent;
    border-bottom: 1px solid grey;
    background-color: #f2f2f2;
}
.save-bt-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-button{
    /* margin-right: 1cm; */
    min-height: 30px;
    margin-top: 10px;
    height: 22px;
    color: white;
    background-color: #056CF2;
    border: 3px solid #056CF2;
    border-radius: 10px;
}
