
.right-body {
    min-height: 900px;
    max-height: 1080px;
    width: 85%;
    height: 100%;
    background-color: #f2f2f2;
  
  }
  .nav-bar {
    height: 50px;
    background-color: white;
    /* margin-top: px; */
    display: flex;
    flex-direction: row-reverse;
  }
  .profile-box {
    /* justify-content: center ;
    align-items: center; */
    /* margin-top: -10px; */
    margin-top: 5px;
    margin-right: 2cm;
    display: flex;
    height: 50px;
  }
  .profile-icon{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    
  }
  .profile-box-left{
    width: 30%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-box-right{
    width: 70%;
    /* height: max-content; */
    margin-top: 10px;
    margin-left: 10px;

  }
  
  .username-text {
    font-size: 16px;
    /* margin-top: 10px;
    margin-top: 10px; */

  }
  .user-role {
    margin-top: -18px;
    font-size: 14px;
  }